<!doctype html>
<html ng-app="testApp">
	<head>
		<meta charset="utf-8">
		<title>Task Manager</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
	  <link rel="stylesheet" type="text/css" href="app/app.css">

	</head>
	<body>
		<div class="row container" ng-controller="TaskListCtrl">
			<div id="header">
				<h1>Task Manager</h1>
				<hr>
			</div>
			<div id="task-form" class="small-6 large-6 columns">
				<div >
	        <form name="newTaskForm" ng-submit="addTask(task)" ng-show="showAdd" >
	          <label>Type of Task</label>
						<select ng-model="task.taskType">
							<option ng-repeat="type in types">{{type}}</option>
						</select>
	          <label>Task Name</label>
	          <input maxlength="24" type="text" ng-model="task.taskName" value="{{taskNameInput}}">
	          <label>Task Description</label>
	          <textarea ng-model="task.taskDesc"></textarea>
	          <button class="addButton">
	            Add
	          </button>
	        </form>
	      </div>

<!-- Show/Populate this when existing tasks are clicked and hide new task form  -->
				<div ng-show="showEdit">
					<form ng-submit="editSubmit(task)">
						<label>Type of Task</label>
						<select ng-model="taskObj.type">
							<option ng-repeat="type in types">{{type}}</option>
						</select>
						<label>Task Name</label>
						<input maxlength="24" name="name" ng-model="taskObj.name" type="text">
						<label>Task Description</label>
						<textarea ng-model="taskObj.description" ></textarea>
						<button>
							Finished
						</button>
					</form>
					<a href="#" data-reveal-id="deleteModal"><button>Delete</button></a>
				</div>

				<div id="deleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
				  <h2 id="modalTitle">Warning:</h2>
				  <p>Are you sure you want to delete this task?</p>
					<button ng-click="deleteTask(task)" class="closeButton">Yes, delete this wretched task.</button>
					<button class="closeButton">Cancel</button>
				</div>


			</div>
			<div id="task-list" class="small-6 large-6 columns">
				<label>Your Current Tasks:</label>
				<ol>
					<li ng-repeat="t in taskList" ng-click="edit(task, $index)" ng-show="haveTasks" class="taskItem" ng-class="{'color-red': t.type === 'Bug Fix'}">
			      {{t.name}} Created {{t.date | date:'h:mm a'}} on {{t.date | date:'MMMM dd, yyyy'}}
		      </li>
	      </ol>
	      <ul ng-hide="haveTasks" class="noTasks">
		      <li>
		      No tasks
		      </li>
	      </ul>

			</div>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
		  <script src="app/app.js"></script>
	</body>
</html>
