/* Use this for your CSS */
h1 {
  text-align: center;
}

button {
  border-radius: 9px;
}

.addButton {
  background-color: #0D7E00;
}

.container {

}

.taskItem {
  cursor: pointer;
}

.color-red {
  color: red;
}

.noTasks {
  list-style-type: none;
}